{
    box-sizing: border-box;
  }
  
  .header {
    background-color:"";
    padding: -5px;
    text-align: center;
    font-size: 35px;
    color: purple;
    font-family: 'Copse', serif;
  }

  .footer {
    font-size: 12px;
    padding: 100px;
    text-align: right;
    }
    
    @media (max-width: 500px) {
    .column.side, .column.middle {
        width: 100%;
    }
    }